allow hal_sensors_default audioserver:binder { call transfer };
allow hal_sensors_default audioserver_service:service_manager find;
allow hal_sensors_default servicemanager:binder call;
