typeattribute hal_sensors_default binder_in_vendor_violators;

allow hal_sensors_default audioserver:binder { call transfer };
allow hal_sensors_default audioserver_service:service_manager find;

allow hal_sensors_default sound_device:chr_file { ioctl read open };

binder_use(hal_sensors_default)
